body{
	margin: 0;
	padding: 0;
	background: lightgrey;
	font-family: 'Courgette', cursive;
	color: #0A5D6E;
}
.wrapper{
	background: white;
	max-width: 43%;
	min-height: 530px;
	margin: 55px auto;
	border-radius: 7px;
	padding: 15px;
	box-sizing: border-box;
}
.main{
	margin-bottom: 50px;
}
h3{
	text-align: center;
	border-bottom: 2px solid #2FB2CC;
	padding-bottom: 8px;
	text-transform: uppercase;
	font-size: 18px;
	font-family: 'Courgette', cursive;
}
ul{
	padding-left: 0;
}
li{
	list-style: none;
}
input, p, button,li {
	display: inline-block;
	vertical-align: middle;
}
button{
	font-family: 'Lemon', cursive;
}
input[type="text"], p{
	width: 260px;
}
input[type="text"] {
	height: 2.2em;
}
button {
	box-sizing: border-box;
	line-height: 1.8em;
	margin: 0;
	background: #2FB2CC;
	border: 3px solid #2294AB;
}
button:active{
	background: #2294AB;
	border: 3px solid #1D7182;
}
.completed p{
	text-decoration: line-through;
}
























